<h1>プロフィール編集</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class ="user_signup">

  <%= form_with(model: @user, local: true) do |f| %>
  <div class = signup_form>
    <%= f.label :名前 %>
    <%= f.text_field :name %>
  </div>
  <div class = signup_form>
    <%= f.label :アドレス %>
    <%= f.email_field :email %>
  </div>
  <div class = signup_form>
    <%= f.label :画像 %>
    <%= f.file_field :image %>
  </div>
  <div class = signup_form>
    <%= f.label :パスワード %>
    <%= f.password_field :password %>
  </div>
  <div class = signup_form>
    <%= f.label :パスワード確認 %>
    <%= f.password_field :password_confirmation %>
  </div>
    <%= f.submit "編集" %>
  <% end %>
</div>
